
.upContainer-players{
  flex-wrap: wrap;
  height: 40px;
  width: 1140px;
  display: flex;
  margin: 0 auto;
  margin-top: 32px;
  justify-content: space-between;
}

.mainContainer-players{
  padding-left: 80px;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  
  width: 1300px;
}