.table-container{ 
  width: 1140px;
}
.table{
  margin-left: 80px;
  border: 0.5px solid #9C9C9C;
  border-collapse: collapse;
  width: 1140px;
  text-align: center;
}
.table__name{
  height: 54px;
  border: 0.5px solid #9C9C9C;
  border-bottom: hidden;
  border-radius: 10px 10px 0px 0px;
}
.table__name-text{
  display: flex;
  height: 54px;
  align-items: center;
  margin-left: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #707070;
}
.head__table{
  height: 40px;
  border-radius: 0px;
}
.head__table-item{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
  
  border-left: hidden;
  border-right: hidden;
}
.body__table{
  height: 56px;
}
.body__table-item{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
  border: 0.5px solid #9C9C9C;
  border-left: hidden;
  border-right: hidden;
}
.body__table-item:first-child{
  border-left: 0.5px solid #9C9C9C;
}
.body__table-item:last-child{
  border-right: 0.5px solid #9C9C9C;
}
.head__table-item:first-child{
  border-left: 0.5px solid #9C9C9C;
}
.head__table-item:last-child{
  border-right: 0.5px solid #9C9C9C;
}
.left{
  text-align: left;
}
.player__block{
  display: flex;
}
.player__block > span{
  margin-left: 16px;
}
